$black: #000000;
$white: #ffffff;
$transparent: transparent;

// orange
$orange_pale_10: #ffdeb4;
$orange_pale_20: #ffcfbc;
$light_orange: #faf8f4;
$Slightly_destructed_orange: #d3b49c;
$grayish_orange: #d9d3d0;
$dark_orange: #333231;
$soft_orange: #fad676;
$light_orange_78: #ffc439;
$grayish_orange_67: #545251;
$grayish_orange_55: #73706e;

//yellow
$yellow_soft: #fdf7c3;

// red
$red_pale: #ffb4b4;
$red_pure: #ff0000;
$grayish_red: #ed5050;
$dark_grayish_red: #a39594;
$dark_moderate_red: #894d47;
$soft_red: #f4afa0;
$grayish_red_10: #e6dfdd;

// grey
$light_grey_5: #f3f3f3;
$light_grey_7: #ededed;
$light_grey_4: #f4f4f4;
$light_grey_15: #d8d8d8;
$light_grey_39: #9b9b9b;
$dark_grey_47: #878787;
$dark_grey_49: #838383;
$dark_grey_42: #939393;
$dark_grey_53: #777777;
$dark_grey_55: #737373;
$dark_grey_60: #666666;
$dark_grey_77: #3a3a3a;
$dark_grey_80: #333333;
$dark_grey_84: #282828;
$dark_grey_93: #111111;
$dark_grey_96: #0b0b0b;

$hight_light_color: #97959547;

// dark blue text
$blue_light: #7e8bff;
$blue_pale: #b2a4ff;
$dark_blue: #111214;
$strong_blue: #1990c6;
$grayish_blue_11: #d6dce3;
$grayish_blue_4: #f0f3f6;
$bright_blue: #5a31f4;

//violet
$dark_violet: #2f2e31;

// gradient 1
$gradient_1: linear-gradient(180deg, rgb(2, 218, 127) 12.5%, rgb(212, 217, 0) 68.75%, rgb(255, 180, 180) 100%);
$gradient_2: linear-gradient(90deg, #7e8bff 0%, #ffb4b4 100%);
