---
import { Products } from "../../components/collections/Products";
import { Category } from "../../components/collections/Category";
import { Color } from "../../components/collections/ListColor";
import { Size } from "../../components/collections/ListSize";
import { Menu } from "../../components/collections/Menu";
import Layout from "../../layouts/Layout.astro";
import { getCategoryBySlug } from "../../server-side/api";
const { slug } = Astro.params;

const category = await getCategoryBySlug(slug!);
---

<Layout title={slug?.toLocaleUpperCase()!}>
  <div class="collection-container">
    <div class="collection-left">
      <Category client:load data={category!} slug={slug!} />
      <Menu client:load />
      <Color client:load slug={slug!} />
      <Size client:load slug={slug!} />
    </div>
    <div class="collection-right">
      <Products client:load slug={slug} category={category!} />
    </div>
  </div>
</Layout>
