---
import { PaymentMethods } from "../components/payment/PaymentMethods";
import { PaymentHeader } from "../components/payment/PaymentHeader";
import { BillingAddress } from "../components/payment/BillingAddress";
import PaymentLayout from "../layouts/PaymentLayout.astro";

const footer = [
  {
    name: "Refund policy",
    slug: "/refund-policy",
  },
  {
    name: "Shipping policy",
    slug: "/shipping-policy",
  },
  {
    name: "Privacy policy",
    slug: "/privacy-policy",
  },
  {
    name: "Terms of service",
    slug: "/terms-of-service",
  },
  {
    name: "Contact information",
    slug: "/contact-information",
  },
];
---

<PaymentLayout title="Flexfy - Shipping">
  <div class="payment-information shipping-contact">
    <div class="payment-information-header">
      <PaymentHeader />
      <PaymentMethods client:load />
      <BillingAddress client:load />
      <a class="continue-shipping" href="/shipping">Continue to shipping</a>
    </div>
    <div class="payment-footer">
      <ul class="footer-list">
        {
          footer.map((f) => (
            <li class="item">
              <a href={f.slug}>{f.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PaymentLayout>
