---
import Layout from "../../layouts/Layout.astro";
import { ProductDetail } from "../../components/product-detail";
const { slug } = Astro.params;
const title = slug?.replace(/-/g, " ").replace(/\b[a-z]/g, function (slug) {
  return slug.toUpperCase();
});
---

<Layout title={`Flexfy - ${title ?? "Product Detail"}`}>
  <div id="productDetail">
    <ProductDetail slug={slug} client:only />
  </div>
</Layout>
